<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/index.js"></script>
</head>
<body>
    <nav id="navbar">
        <div class="logo"> Shoes</div>
        <ul class="nav-links">
            <li class="nav-itm"> <a class="items" href=""> HOME</a></li>
            <li class="nav-itm"> <a class="items" href=""> NEW</a></li>
            <li class="nav-itm"> <a class="items" href=""> SALE</a></li>
            <li class="nav-itm"> <a class="items" href=""> GIFTS</a></li>

        </ul>
        <div class="right-bar">
            <img class="right-bar-items" id="search" src="/img/search.svg" onclick="openSearch()" alt="">
            <img class="right-bar-items" id="login-icon"  onclick="toggleProfileMenu()" src="/img/user.png">
            <button class="right-bar-items" id="hamburger-menu" onclick="openNav()"><img src="/img/menu.png"
                    alt=""></button>

        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div id="myOverlay" class="overlay">
            <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
            <div class="overlay-content">
              <form action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
        </div>
    </nav>
    <section id="section1">
        <ul class="profile-menu" id="profile-menu">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">Addresses</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
</body>
</html>